<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AugusPay | A Upi Payment Service Web</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="./index.html">Auguspay <p style=" font-size: small;">A upi Payment Service Web</p></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#service"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#services">Single Merchant Qr</a></li>
              <li><a href="#servicee">Ecommerce Business</a></li>
              <li><a href="#servicef">Fixed Amount Qr</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contactus">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business Upi Payments</h1>
          <h2>We are Auguspay team with strong believe on "Auguspay: Pioneering Payments, Empowering Futures."</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://youtu.be/3HAddlupwHA?si=vTj9AwQgM34EQ0XV" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Welcome to Auguspay, where innovation meets seamless transactions. At Auguspay, we are on a mission to redefine the landscape of payments, ushering in a new era of convenience, security, and financial empowerment.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Innovation: We thrive on pushing boundaries and exploring new horizons in the payments industry.</li>
              <li><i class="ri-check-double-line"></i>Security: Your trust is our top priority.</li>
              <li><i class="ri-check-double-line"></i>User-Centric Design: We believe that simplicity is the ultimate sophistication. </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We invite you to join us on this exciting journey as we reshape the future of payments. Whether you're a business looking for a reliable payment partner or an individual seeking a seamless way to manage transactions, Auguspay is here for you.
              At Auguspay, the future of payments is now.
            </p>
            <a href="#" class="btn-learn-more">Join Us Now</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>How Auguspay Works for Business Payments
                <strong>"SmartPayments Redefined: AugusPay Leading the Way"
                </strong></h3>
              <p>
                AugusPay simplifies business payments with Fixed Amount QR Codes. Integrated seamlessly into ecommerce platforms, businesses generate codes representing predetermined payment values. Customers scan and complete transactions swiftly by entering their Virtual Payment Address. AugusPay's user-friendly interface ensures efficiency, reducing checkout times and enhancing security with VPAs. Real-time monitoring, scalability, and robust support make AugusPay a revolutionary solution, optimizing the payment experience for businesses and customers alike.
              </p>
            </div>
            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>Simple Onboarding<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Businesses can easily onboard onto the Auguspay platform. The onboarding process is designed to be straightforward, allowing businesses to quickly set up their accounts
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>Customizable UPI QR Codes<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Auguspay provides businesses with the ability to generate customized UPI QR codes. These QR codes are linked to the business's UPI (Unified Payments Interface) account, streamlining the payment process for customers.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>Cost-Effective Transactions<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Auguspay takes pride in being a cost-effective solution for businesses. With minimal commissions, we enable businesses of all sizes to manage transactions without breaking the bank.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../static/assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="../static/assets/img/skills.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Auguspay: Revolutionizing Transactions - Unbeatable Advantages in Every Percentage</h3>
            <p class="fst-italic">
              Auguspay transforms transactions with unmatched efficiency, offering businesses up to 30% cost savings, 40% faster processing, 25% stronger security, and a 20% increase in customer satisfaction. Experience excellence in every payment.
            </p>
            <div class="skills-content">

              <div class="progress">
                <span class="skill">Cost Savings <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Transaction Speed<i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Security Boost <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"> Increment in Customer Satisfaction<i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Auguspay delivers unparalleled payment solutions tailored for businesses seeking excellence. Our comprehensive suite includes customizable UPI QR codes, ensuring swift and secure transactions. </p>
        </div>
        <section id="services" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Single Merchant Payment Qr code</h2>
            </div>
            <div class="row">
              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                  <i class="bi bi-phone"></i>
                    <h4>Single Payment QR</h4>
                    <p>A Single Merchant UPI Payment QR Code is a specific type of Quick Response (QR) code designed for facilitating seamless and secure transactions between a customer and a single merchant using the Unified Payments Interface (UPI) system. UPI is a real-time payment system in India that allows users to link multiple bank accounts to a single mobile application, making transactions easier and more convenient.</p>
                  </div>
                  <div class="email">
                    <i class="bi bi-phone"></i>
                    <h4>How to use the Single Payment Qr</h4>
                    <p>&#10049; Enter the Vpa or Upi Id (Provided by your Bank) <br>&#10049; Enter the Your Company Name <br>&#10049; Enter Your Name <br> 
                      &#10049; Enter your Email Address <br>&#10049; Then Click Generate <p>&#10049; You will Get the detail over Gmail</p> <br>
                    </p>
                  </div>
                  <div class="phone">
                  </div>
                </div>
              </div>
              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="/generate_pdf" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="vpa">Enter Your VPA</label>
                      <input type="text" name="vpa" class="form-control" placeholder="Enter Upi id" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Name">Enter Your Company Name</label>
                      <input type="text" placeholder="Company Name" class="form-control" name="Name" id="email" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="name"> Enter Your Name</label>
                      <input type="text" placeholder="Your Name" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Enter Your Email</label>
                      <input type="email" placeholder="Enter Mail" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div style="margin-left: auto;margin-right: auto;" class="g-recaptcha" data-sitekey="6LfANiEpAAAAAN-gZl7hSQLNNAHCxDzSpPDqvTeO"></div>
                  <div class="text-center" style="margin-top: 2vh;"><button style="width: 100%;" type="submit">Generate</button></div>
                </form>
              </div>
            </div>
          </div>
        </section><!-- End Contact Section -->
        <section id="servicee" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Ecommerce Business Payment QR code</h2>
            </div>
            <div class="row">
              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                  <i class="bi bi-phone"></i>
                    <h4>Ecommerce Businesses Payment QR Code</h4>
                    <p>We are thrilled to introduce a cutting-edge solution that transforms the way businesses handle payments. With AugusPay's dynamic QR codes, the future of ecommerce is now more efficient and secure than ever. Our user-friendly system, incorporating Virtual Payment Addresses (VPAs), ensures swift transactions, reducing friction in the checkout process. Experience the convenience of quick payments, enhanced security, and a streamlined user interface.</p>
                  </div>
                  <div class="email">
                  <i class="bi bi-phone"></i>

                    <h4>How to use the Ecommerce Business Payment QR</h4>
                    <p>&#10049;Enter the Vpa or Upi Id (Provided by your Bank) <br>&#10049; Enter the Your Company Name <br>&#10049; Enter Your Name <br> 
                      &#10049; Enter your Email Address <br>&#10049; Choose the file<br>&#10049; Then Click Generate <br>&#10049; You will Get the detail over Gmail <br>
                    </p>
                    <i class="bi bi-phone"></i>
                    <h4>Order of the Template file</h4>
                    <p>&#10049;The Template Must be in txt and fix order <br>&#10049; First Enter total Qr you want <br>In each Testcase Enter two things Amount, description</p>
                  </div>
                  <div class="phone">
                  </div>
                </div>
              </div>
              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="/ecommerce" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="vpa">Enter Your VPA</label>
                      <input type="text" name="vpa" class="form-control" placeholder="Enter Upi id" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="name">Enter Your Company Name</label>
                      <input type="text" placeholder="Company Name" class="form-control" name="name" id="email" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="Name"> Enter Your Name</label>
                      <input type="text" placeholder="Your Name" name="name" class="form-control" id="Name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Enter Your Email</label>
                      <input type="email" placeholder="Enter Mail" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="file">Choose Your file</label>
                    <input style="height:100%" type="file" placeholder="Enter Mail" class="form-control" name="file" id="email" required>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LfANiEpAAAAAN-gZl7hSQLNNAHCxDzSpPDqvTeO"></div>
                  <div class="text-center" style="margin-top: 2vh;"><button style="width: 100%;" type="submit">Generate</button></div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section id="servicef" class="contact">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Fixed Amount Payment Qr code</h2>
            </div>
            <div class="row">
              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-phone"></i>
                    <h4>Fix Amount Qr code</h4>
                    <p>Step into a new era of payment simplicity with AugusPay's Fixed Amount QR Codes – a revolutionary leap in ecommerce transactions. We're proud to unveil a groundbreaking solution that streamlines payments with a predetermined amount, redefining how businesses and consumers engage in digital commerce. AugusPay's Fixed Amount QR Codes eliminate complexities, ensuring swift and error-free transactions at a set value. </p>
                  </div>
                  <div class="email">
                  <i class="bi bi-phone"></i>
                    <h4>How to use the Fixed Amount QR Payment Service</h4>
                    <p>&#10049; Enter the Vpa or Upi Id (Provided by your Bank) <br> &#10049; Enter Your Name <br>Enter The Fix Amount<br> 
                      &#10049; Enter your Email Address <br>&#10049; Then Click Generate <p>&#10049; You will Get the detail over Gmail</p> <br>
                    </p>
                  </div>
                  <div class="phone">
                  </div>
                </div>
              </div>
              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="/fixamnt" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="vpa">Enter Your VPA</label>
                      <input type="text" name="vpa" class="form-control" placeholder="Enter Upi id" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Name">Enter Your Company Name</label>
                      <input type="text" placeholder="Company Name" class="form-control" name="Name" id="email" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="name"> Enter Your Name</label>
                      <input type="text" placeholder="Your Name" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">Enter Your Email</label>
                      <input type="email" placeholder="Enter Mail" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="amount">Enter the Fix Amount</label>
                    <input type="float" placeholder="Enter Amount" class="form-control" name="amount" id="email" required>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="descp">Write the Description</label>
                    <input type="text" placeholder="Related to party" class="form-control" name="descp" id="email" required>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LfANiEpAAAAAN-gZl7hSQLNNAHCxDzSpPDqvTeO"></div>
                  <div class="text-center" style="margin-top: 2vh;"><button style="width: 100%;" type="submit">Generate</button></div>
                </form>
              </div>
            </div>
          </div>
        </section>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>At Auguspay, our success is built on the foundation of a dynamic and dedicated team. Comprising innovative minds from diverse backgrounds, our team synergizes expertise in finance, technology, and customer service.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Achint</h4>
                <span>Flask Development Virtuoso</span>
                <p>Introducing our Flask Development Virtuoso, the maestro behind the seamless integration of Flask into our solutions.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kuldeep Chotiya</h4>
                <span>Python Research Maestro</span>
                <p>Meet our Python Research Maestro, the architect of innovation. With an insatiable curiosity, they dive into the intricacies of Python, exploring its depths to uncover cutting-edge solutions.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Yogesh</h4>
                <span>Web Designer and Developer</span>
                <p>With a keen eye for design and functionality,he translate ideas into engaging and user-friendly interfaces. Whether it's front-end magic or back-end wizardry</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- ======= Contact Section ======= -->
    <section id="contactus" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Connect with Auguspay — Your gateway to seamless transactions. Have questions, feedback, or need assistance? Our dedicated support team is here for you. Reach out through our contact form, and let's embark on a journey of innovation together. Your satisfaction is our priority, and we look forward to hearing from you.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>XYZ,New Delhi , India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>auguspayteam@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="g-recaptcha" data-sitekey="6LfANiEpAAAAAN-gZl7hSQLNNAHCxDzSpPDqvTeO"></div>
              <div class="text-center" style="margin-top: 2vh;"><button style="width: 100%;" type="submit">Connect to AugusPay</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AugusPay</h3>
            <p>
              XYZ, near saket <br>
              New Delhi<br>
              India, 110080 <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> auguspayteam@gmail.com<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#service">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Single Merchant Qr code</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#servicee">Ecommerce Business Qr code</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#servicef">Fixed Amount Qr code</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect to AugusPay Family :)</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>AugusPay</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">AugusPay Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>